{% macro upload(refer) %}
    <div id="uploadLay" style="top:50px">
		<!-- script type="text/javascript" src="/js/upload.js"></script -->
		<div class="header">
			<span class="title_content">有什么新鲜事想告诉大家？</span>
			<a class="close" href="javascript:closeToolLayout();"></a>
		</div>
		<div class="body">
	    	<div class="text-left">还可以输入<span id="count">140</span>字</div>
    		<textarea id="sinaText" name="content"></textarea>
			<div class="submit">
				<input data-refer="webtool" id="publishButton" class="publish_button" type="button" value="" />
				<input type="hidden" id="attachment" name="attachment" value="" />
				<input type="hidden" id="refer" name="refer" value="{{refer}}" />
			</div>
			<div id="tool" class="tool">
				<a class="face" href="#" style="display:none;">表情</a>
	    		<a class="attach" href="javascript:void(0);">图片</a>
	    		<div id="attachLay" class="tool_lay" style="display:block;">
	    			<div class="top">
	    				<div class="more" style="display:none">
	    					<a href="javascript:imgPreview(-1);" title="上一张" class="left lnull">上一张</a>
	    					<a href="javascript:imgPreview(1);" title="下一张" class="right">下一张</a>
						</div>
	    				<a href="javascript:deleteImg();">删除</a>
	    			</div>
	    			<div class="attach_body"></div>
	    			<div class="lay_arrow"></div>
	    		</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
{% endmacro %}
{% macro authToken(authUrl) %}
	<div id="uploadLay" style="top:50px">
		<div class="header">
			<span class="title_content">新浪微博应用授权</span>
			<a class="close" href="javascript:closeToolLayout();"></a>
		</div>
		<div class="body">
			<iframe frameborder="0" scrolling="no" style="width:100%;height:440px;" src="{{authUrl}}"></iframe>
		</div>
	</div>
{% endmacro %}